.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.headerTop {
    display: flex;
    align-items: center;
}

.imagen {
    width: 120px; /* Ajusta el tamaño de la imagen según necesites */
    height: auto;
    margin-right: 15px;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.subtitulo {
    font-size: 16px;
    color: #555;
    margin: 0;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-link {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
}

.auth-link:hover {
    background-color: #0056b3;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .headerTop {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1px;
    }

    .imagen {
        width: 140px;    
        margin-right: 0;
        margin-bottom: 2px;
    }

    .titulo {
        font-size: 20px;
    }

    .subtitulo {
        font-size: 14px;
    }

    .auth-buttons {
        margin-top: 10px;
    }

    .auth-link {
        padding: 10px 20px;
        font-size: 16px;
    }
}
